*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-color: #b0c4de;
}

.container{
    width: auto;
    margin: 10rem auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


}


/* LOGO-INPUT SECTION  */

.top-section{
    width: 100%;
    text-align: center;
}
img{
    width: 200px;
 }
.insert-text{
    width: 100%;
}
.insert-text input{
    height: 25px;

}

button.add{
    padding:5px;
    border-radius: 5px;
    border: none;
}
.flex-container{
    display: flex;
}

.white-container, .completed{
    width: 100%;
    margin:1rem;
    border-radius: 1rem;
    text-align: left;
    padding: 2rem;
    background-color: white;
}


/* white-container */
h3{
    margin-bottom: 0.6rem;
}
.task{
    width: 250px;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 0.5rem;    
}
/* SINGOLI TASK  */
.to-do-div{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;  
}

.icon{
    display: flex;
}

i{
    font-size: 14px;
    margin-left: 0.5rem;
}



.no-task{
    font-style: oblique;
}

/* COMPLETED LIST  */




Funzionalitá:

ma vuole anche poter indicare che la task é stata completata (con un icona cliccabile)

Da tenere a mente:
Ricordate di scrivere le istruzioni prima di iniziare a lavorare cercate di descrivere in modo sintetico gli step che pensate siano necessari. Consultate la documentazione e se siete bloccati, aprite un ticket.
Bonus (opzionale)
Quando una task é stata completa allora vuole che venga inserita in un'altra colonna tipo "tasks completate"
ma vuole anche poter indicare che la task é stata completata (con un icona cliccabile)
se una task é stata completa allora vuole che venga inserita in un'altra colonna tipo "tasks completate"
se una task é stata marcata come completa per sbaglio allora vuole poterla rimettere nella todo list (cliccando su un altra icona)
ah non é finita, dice che quando cancella una task non vuole che questa venga subito rimossa, ma vuole che resti visibile ma venga spostata in una colonna tipo "cestino"
si, l'utente é un rompi scatole, dice infine che vuole poter rimuovere tutte le tasks nel cestino cliccando su un pulsante tipo "svuota cestino"
Il nostro utente per ora sembra non avere altre richieste ... ma chissá se dopo gli viene in mente che vuole anche poter rimettere una task cancellata nella lista di tasks da fare, magari l'ha cancellata per sbaglio.